# yamllint disable rule:line-length
---
name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Perform pre-commit checks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        env:
          SKIP: no-commit-to-branch

  local-test:
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test the problem matcher
        id: expect-failure
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          rules: examples/rules/custom.js
        continue-on-error: true
      - name: Check the result of the problem matcher test
        if: ${{ steps.expect-failure.outcome != 'failure' }}
        run: |
          exit 1
      - name: Test ignore_files
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          ignore_files: examples/ignore/*
          rules: examples/rules/custom.js
      - name: Test ignore_path
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          ignore_path: examples/.markdownlintignore
          rules: examples/rules/custom.js
