---
name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.0

  local-test:
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Test problem matcher
        id: expect-failure
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          rules: examples/rules/custom.js
        continue-on-error: true
      - if: ${{ steps.expect-failure.outcome != 'failure' }}
        run: |
          exit 1
      - name: Test ignore_files
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          ignore_files: examples/ignore/*
          rules: examples/rules/custom.js
      - name: Test ignore_path
        uses: ./
        with:
          config_file: .markdownlintrc
          files: .
          ignore_path: examples/.markdownlintignore
          rules: examples/rules/custom.js
